# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.

# Database connection URL for Prisma to connect to the PostgreSQL database. This should be in the format:
DATABASE_URL=xxxxxxxxxxx

# Port for the Express server to listen on
PORT=8000

# Private key for signing transactions (for deployment scripts)
PRIVATE_KEY=xxxxxxxxxxxxxxx

# Redis connection URL (for caching and pub/sub)
REDIS_URL=redis://localhost:6379

# Set the Node environment (development, production, etc.)
NODE_ENV=development

# Gemini API key (for reasoning traces)
GEMINI_API_KEY=xxxxxxxx

# Pinata API credentials (for IPFS uploads)
PINATA_API_KEY=xxxxxxxxxx
PINATA_SECRET_API_KEY=xxxxxxxxxx
PINATA_JWT=xxxxxxxxxx xxxxxxxxx.xxxx

# Arc testnet configuration
ARC_RPC_URL=https://rpc.testnet.arc.network
ARC_CHAIN_ID=5042002

# CIRCLE_API_KEY=TEST_API_KEY:f0665e21bf4539c5c6c5b139104a21fa:13571893f4d49560c5d0027cd613d29a
# CIRCLE_ENTITY_SECRET=2b351074ee58145a34748b956810b430e5d9ff1ce70576fb3a15d48bb41d24b4

# Circle API credentials (for deployment scripts)
CIRCLE_API_KEY=xxxxxxxxxx
CIRCLE_ENTITY_SECRET=xxxxxxxxxx
CIRCLE_WALLET_ID=xxxxxxxxxx
CIRCLE_BASE_URL=https://api.circle.com
CIRCLE_WALLET_ADDRESS=
CIRCLE_BLOCKCHAIN=ARC-TESTNET
CIRCLE_STRICT_PAYMENT_VERIFICATION=false

# Arc testnet
USDC_TOKEN_ADDRESS=0x3600000000000000000000000000000000000000
EURC_TOKEN_ADDRESS=0x89B50855Aa3bE2F677cD6303Cec089B5F319D72a

# Addresses of deployed contracts
TREASURY_MANAGER_ADDRESS=0xb326E280D2e115B6BEC25154142970a90074e7F8
POSITION_LEDGER_ADDRESS=0x4ac9c8A1F68c6d8979343746825Df09DD1907b44
MULTISIG_ORACLE_ADDRESS=0xD21251d0f66245C1B259d720F3795633a803b8B9
MARKET_FACTORY_ADDRESS=0xf5b7e790168af77418ab9ec37cb7eb7851e4a36a
REASONING_REGISTRY_ADDRESS=0xE3188B3b4E14d74E6110137FF91f12B981A82257

# Polymarket builder code (for deterministic deployment)
POLYMARKET_BUILDER_CODE=xxxxxxxxxx

# JWT secret for signing authentication tokens (should be a long, random string in production)
JWT_SECRET=xxxxxxxxxx
AGENT_PRIVATE_KEY=
AGENT_WALLET_ADDRESS=
CHAIN_EXECUTION_MODE=mock

# API keys for external services
NEWSAPI_KEY=xxxxxxxxxx
FRED_API_KEY=xxxxxxxxxx
